<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetEnabled="true" />
            <serviceDiscovery />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service name="Service.MyService">
          <endpoint address="basic" binding="basicHttpBinding"
              contract="Contract.IMyService" />
          <endpoint address="ws" binding="wsHttpBinding"
              contract="Contract.IMyService" />
          <endpoint address="tcp" binding="netTcpBinding"
              contract="Contract.IMyService" />
          <endpoint kind="udpDiscoveryEndpoint" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:9000" />
              <add baseAddress="net.tcp://localhost:9001" />
            </baseAddresses>
          </host>
        </service>
      </services>
    </system.serviceModel>
</configuration>